* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	background: whitesmoke;
}

.navbar {
	display: flex;
	align-items: center;
	gap: 5rem;
	margin-top: 1rem;
}

.search-bar input {
	height: 2rem;
	width: 25rem;
	border-radius: 0.75rem;
}

.location-container {
	width: 12rem;
}

.main-element {
	background: #302579;
	opacity: 0.9;
	width: 95%;
	height: 15rem;
	margin-top: 1rem;
	border-radius: 1rem;
}

.parts-of-day {
	display: flex;
	flex-direction: column;
	width: 15rem;
	height: 10rem;
	border-radius: 0.75rem;
}

.elements {
	background: #302579;
	width: 17rem;
	height: 9rem;
	border-radius: 1rem;
	text-align: center;
}
