@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

/* App component */
.app {
	width: 100%;
	height: 100%;
	color: #fff;
	font-family: "Lato", sans-serif;
}

.app::before {
	content: "";
	background: url("./assets/bg.jpg") no-repeat center center/cover;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

/* Navbar component */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1rem;
	padding: 0 1rem;
}

.logo {
	height: 75px;
}

.search-bar input {
	width: 35rem;
	padding: 0.4rem 1.5rem;
	font-size: 1.2rem;
	color: #000;
	border-radius: 25px;
	border: 1px solid rgba(255, 255, 255, 0.9);
}

.search-bar input:focus {
	border: 1px solid rgba(255, 255, 255, 0.9);
}

::placeholder {
	color: #000;
}

.location-container {
	font-size: 2.5rem;
}

/* Sidebar component */
.days-container {
	background-color: rgba(48, 37, 121, 0.7);
}

/* Main component */
.main-element {
	background-color: rgba(48, 37, 121);
	opacity: 0.9;
	width: 95%;
	height: 16rem;
	margin-top: 1rem;
	border-radius: 1rem;
}

.temperature {
	font-weight: bold;
	font-size: 60px;
}

.date {
	text-transform: capitalize;
	text-align: center;
	font-size: 20px;
}

.description {
	text-transform: capitalize;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}

.weather-icon {
	width: 100px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

.parts-of-day-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin: 1rem auto;
}

.parts-of-day {
	display: flex;
	flex-direction: column;
	width: 18rem;
	height: 12rem;
	border-radius: 0.75rem;
	font-size: 2rem;
	color: #000;
	transition: all 0.5s ease;
}

.parts-of-day:hover {
	transform: scale(1.1);
}

.part-of-day-desc {
	font-size: 20px;
}

.part-of-day-icon {
	height: 100px;
}

.morning {
	background-color: #fdb813;
}

.midday {
	background-color: rgba(255, 255, 0, 0.7);
}

.evening {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.elements {
	background-color: rgba(48, 37, 121, 0.9);
	width: 100%;
	height: 7rem;
	border-radius: 1rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 40px;
}

/* .elements-content {
	margin: 0 auto;
} */

.elements-title {
	font-size: 20px;
}

.elements-icon {
	height: 90%;
}

.elements-units {
	font-size: 45px;
}

/* Sidebar */
.sidebar {
	background-color: rgba(48, 37, 121, 0.9);
	border-radius: 15px;
	margin-top: 1rem;
	padding-bottom: 5px;
}

.title {
	font-size: 20px;
	font-weight: 700;
	margin: 5px 5px 0 10px;
}

.daily-item {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	height: 50px;
	margin: 7px;
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	padding: 5px 10px;
	transition: all 0.7s ease;
}

.daily-item:hover {
	transform: scale(1.15);
}

.forecast-icon {
	width: 50px;
}

.daily-item .day {
	cursor: inherit;
	flex: 1 1;
	font-weight: 600;
}

.daily-details {
	margin: 5px 20px;
}

.daily-details-item .daily-details-name {
	font-size: 16px;
	font-weight: bold;
}

.daily-details-item .daily-details-unit {
	padding-left: 10px;
}

/* SunriseSunset component */

.sunrise-sunset {
	background-color: rgba(48, 37, 121, 0.9);
	margin: 1rem 0;
	height: 130px;
	border-radius: 15px;
}

.sunrise-sunset-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	height: 130px;
}

.sunrise-sunset-wrapper-1,
.sunrise-sunset-wrapper-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.sunrise-sunset-icon {
	height: 50px;
}

.sunrise-sunset-title {
	padding-left: 5px;
	font-size: 20px;
}
.sunrise-sunset-time {
	padding-top: 2px;
	padding-left: 2px;
	font-size: 27px;
	font-weight: 700;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
	.navbar {
		padding: 0;
		margin-top: 0.5rem;
	}
	.logo {
		height: 20px;
	}
	.search-bar input {
		width: 7rem;
		padding: 3px 1px;
		font-size: 0.8rem;
	}
	.location-container {
		font-size: 1rem;
	}
	.main-element {
		width: 100%;
		height: 13.5rem;
	}
	.temperature {
		text-align: center;
		font-size: 40px;
	}

	.weather-icon {
		width: 50px;
		height: 50px;
		float: right;
	}
	.date {
		font-size: 14px;
	}
	.description {
		font-size: 16px;
	}
	.parts-of-day-container {
		gap: 0.3rem;
		margin: 1rem 3px;
	}
	.parts-of-day {
		width: 6.1rem;
		height: 7.5rem;
		font-size: 1rem;
	}
	.parts-of-day:hover {
		transform: scale(1);
	}
	.part-of-day-desc {
		font-size: 14px;
	}
	.part-of-day-icon {
		height: 40px;
	}
	.elements {
		height: 3.5rem;
		padding: 1px 3px;
	}
	.elements-title {
		font-size: 13px;
		margin-left: 8px;
	}

	.elements-icon {
		height: 60%;
		margin-right: 5px;
	}

	.elements-units {
		font-size: 16px;
	}

	.daily-item:hover {
		transform: scale(1);
	}
}

@media screen and (min-width: 481px) and (max-width: 961px) {
	.navbar {
		padding: 0 10px;
		margin-top: 0.5rem;
	}
	.logo {
		height: 40px;
	}
	.search-bar input {
		width: 15rem;
		font-size: 1rem;
	}
	.temperature {
		text-align: center;
		font-size: 30px;
	}
	.date {
		font-size: 14px;
	}
	.description {
		font-size: 16px;
	}
	.location-container {
		font-size: 1.5rem;
		padding-right: 1rem;
	}
	.weather-icon {
		width: 40px;
		height: 40px;
	}
	.main-element {
		height: 10rem;
	}
	.parts-of-day {
		width: 7rem;
		height: 8rem;
		font-size: 1rem;
	}
	.part-of-day-icon {
		height: 50px;
	}
	.elements {
		height: 5rem;
		padding: 5px 3px;
	}
	.elements-title {
		font-size: 16px;
		margin-left: 5px;
	}

	.elements-icon {
		height: 60%;
		margin-right: 5px;
	}

	.elements-units {
		font-size: 19px;
	}
	.title {
		font-size: 16px;
	}
	.daily-item {
		height: 40px;
		margin: 2px;
		font-size: 12px;
	}
	.sunrise-sunset,
	.sunrise-sunset-wrapper {
		height: 80px;
		margin-top: 10px;
	}
	.sunrise-sunset-icon {
		height: 30px;
	}

	.sunrise-sunset-title {
		font-size: 16px;
	}
	.sunrise-sunset-time {
		font-size: 20px;
	}
	.daily-item {
		border-radius: 10px;
	}
}
